* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-weight: 600;
}

body {
    background-color: #FAFAFA;
}
  
#home  {
    display: flex;
    justify-content:center;
    background-image: url(../../assets/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 15rem;
}

.home-container {
    height: 720px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.pre-title {
    color: white;
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-size: 50px;
    margin-top: 10rem;
}

.main-home{
    font-size: 50px;
    margin: 0.5rem 2.5rem 2rem;
    color: #FF8303;
}

.home-title p {
    font-size: 20px;
    margin: 0.5rem 2.5rem 2rem;
    color: white;
}

.home-title button {
    font-size: 20px;
    margin: 5rem 2.5rem 2rem;
    color: white;
    background-color: #FF8303;
    border: none;
    border-radius: 10px;
    padding: 10px 80px;
    cursor: pointer;
}


.image-right img {
    width: 650px;
    border-radius: 0.5rem;
    margin-right: 1rem;
    margin-top: 10rem;
    margin-left: 10rem;
}

.image-right {
    display: flex;
    justify-content: center;
}

#about {
    padding: 0;
    margin: 0;
}

.isi {
    display: flex;
    margin-top: 7rem;
    margin-bottom: 1rem;
    justify-content: center;
    font-size: 25px;
    color: #FF8303;
}

.isi-paraf {
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    margin-left:50px;
    margin-right:50px;
}

.card {
    
    border: 1px solid hsl(0, 5%, 88%);
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.265);
    background-color: #0C382D;
    border-radius: 10px;
    max-width: 600px;
    display: inline-block;
    width: 100%;
    margin: auto 0;
    padding: 37px 25px 74px;
    
}

.card p {
    margin: 2rem;
    font-size: 15px;
}

.card h2 {
    margin: 2rem;
    font-size: 27px;
}

.cardimg {
    scale: 65%;
}

.card2 {
      
    border: 1px solid hsl(0, 5%, 88%);
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.265);
    background-color: #0C382D;
    color:white ;
    border-radius: 10px;
    max-width: 600px;
    display: inline-block;
    width: 100%;
    margin: auto 0;
    padding: 37px 25px 74px;
}

.card2 p {
    margin: 2rem;
    font-size: 15px;
}

.card2 h2 {
    margin: 2rem;
    font-size: 27px;
}

.cardimg2 {
    scale: 65%;
}

#place {
    padding: 0;
    margin: 0;
}

.place-isi {
    display: flex;
    margin-top: 7rem;
    margin-bottom: 1rem;
    justify-content: center;
    font-size: 25px;
    color: #FF8303;
}

.s1{
    scale: 90%;

}

.place-paraf {
    display: flex;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    color: black;
    margin-left:50px;
    margin-right:50px;
    margin-top:50px;
    margin-bottom:50px;
    
    
}



.place-img {
    display: flex;
    align-items: center;
    margin-top: 120px;
    justify-content: space-around;
    cursor: pointer;
}

.scroll-img {
    display: flex;
    align-items: center;
    gap: 50px;
}

.tengah2{
  
    display: flex;
    justify-content: center;
    row-gap: 10;
   
  }