/* .nama{
  display: flex;
  justify-content: center;
  text-align: center;
}

.isi{
 
  padding: 50px;
}

.tengah{
  display: flex;
  
}
.gmbr1{
  margin-right: 100px;
}

.div1 {
  
  max-width: 250px;
  padding-top: 80px;
  flex-direction: column;
}
.div-2 {
  border-radius: 30px;
  background-color: var(--Light-Orange, #ffce50);
  display: flex;
  margin-top: 109px;
  width: 100%;
  flex-direction: column;
  padding: 0 15px 25px;
}
.img {
  
  object-position: center;
  width: 100%;
  z-index: 10;
  margin-top: -109px;
}
.div-3 {
  display: flex;
  margin-top: 18px;
  gap: 20px;
  justify-content: space-between;
}
.div-4 {
  align-self: start;
  display: flex;
  margin-top: 8px;
  flex-direction: column;
}
.div-5 {
  color: #000;
  font: 600 20px Poppins, sans-serif;
}
.div-6 {
  color: #3c3c3c;
  margin-top: 16px;
  font: 400 16px Poppins, sans-serif;
}
.img-2 {
  aspect-ratio: 0.98;
  object-fit: auto;
  object-position: center;
  width: 51px;
  background-color: var(--Orange, #ff9222);
  border-radius: 50%;
  height: 51px;
} */

.name{
font-size: 30px;
margin-left: 25px;
margin-bottom: -40px;
}

.tengah{
  display: flex;
  justify-content:center ;
}

.nama{
  display: flex;
  justify-content: center;
  text-align: center;
}

.nama2{
  font-size: 40px;
  display: flex;
  justify-content: start;
  padding-left: 350px;
}

.nama3{
  font-size: 40px;
  position: relative;
  top: 50%;
  left: 70%;
  transform: translate(38%, -450%);
}

.nama4{
  width: 600px;
  font-size: 40px;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  
}


.nama5{
  width: 600px;
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(75%, -1000%);
  
}


/*buat margin jarakkanan*/
.tengah{
  padding-right: 70px;
}

.div {
  display: flex;
  max-width: 250px;
  padding-top: 80px;
  margin-left: 80px;
  
  flex-direction: column;
}
.div-2 {
  border-radius: 30px;
  background-color: var(--Light-Orange, #ffce50);
  display: flex;
  margin-top: 109px;
  width: 100%;
  flex-direction: column;
  padding: 0 15px 25px;
}
.img {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 100%;
  
  z-index: 10;
  margin-top: -109px;
}
.div-3 {
  display: flex;
  margin-top: 18px;
  gap: 20px;
  justify-content: space-between;
}
.div-4 {
  align-self: start;
  display: flex;
  margin-top: 8px;
  flex-direction: column;
}
.div-5 {
  color: #000;
  font: 600 20px Poppins, sans-serif;
}
.div-6 {
  color: #3c3c3c;
  margin-top: 16px;
  font: 400 16px Poppins, sans-serif;
}
.img-2{
  
  scale: 80%;
  object-fit: auto;
  object-position: center;
  background-color: var(--Orange, #ff9222);
  border-radius: 50%;
  height: 51px;
}

.fotoprodukdetail {
  display: flex;
  width: 16%;
  max-width: 16%;
  padding-top: 0px;
  margin-left: 330px;
  
  flex-direction: column;
}
.fotoprodukdetail2{
  border-radius: 10px;
  background-color: var(--Light-Orange, #FFB800);
  display: flex;
  margin-top: 109px;
  width: 100%;
  flex-direction: column;
  padding: 0 15px 25px;
}


